<app-navbar></app-navbar>
<div class="wrapper">
  <app-spinner *ngIf="loading"></app-spinner>
    <form class="login" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <p class="title">Edit User Profile</p>
     
      FirstName: <input type="text" placeholder="firstname"
      formControlName="firstname" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.firstname.errors.required">First Name is required</div>
    </div>
      <i class="fa fa-user"></i>
     
      LastName: <input type="text" placeholder="lastname"
      formControlName="lastname" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.lastname.errors.required">Last Name is required</div>
    </div>
      <i class="fa fa-user"></i>

      Email: <input type="text" placeholder="email"
      formControlName="email" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.email.errors.required">Email is required</div>
    </div>
      <i class="fa fa-user"></i>


      Password:<input type="password" placeholder="Password" 
      formControlName="password" class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.password.errors.required">Password is required</div>
    </div>
      <i class="fa fa-key"></i>
  <br>
      Sex: 
      <select formControlName="gender">
        <option *ngFor="let gender of genders" [value] ="selectValue">{{gender}}</option>
      </select>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.gender.errors.required">Gender is required</div>
    </div>
      <i class="fa fa-user"></i>
      <br> <br>

      Phone:<input type="text" placeholder="phonenumber" appPhonemask
      formControlName="phonenumber" class="form-control" style="font-size: 16px;color: black;"
      [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }"/>
      <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.phonenumber.errors.required">Phone is required</div>
    </div>
      <i class="fa fa-key"></i>
      
      Card Number: <input type="text" placeholder="card number"
      formControlName="creditcardnumber" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.creditcardnumber.errors }" />
      <div *ngIf="submitted && f.creditcardnumber.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.creditcardnumber.errors.required">credit card number is required</div>
    </div>
      <i class="fa fa-user"></i>

      Drug Name: <input type="text" placeholder="Drug Name"
      formControlName="drugname" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.drugname.errors }" />
      <div *ngIf="submitted && f.drugname.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.drugname.errors.required">Drug Name is required</div>
    </div>
      <i class="fa fa-user"></i>

      Drug Company: <input type="text" placeholder="Company Name"
      formControlName="drugcompany" style="font-size: 16px;color: black;"
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f.drugcompany.errors }" />
      <div *ngIf="submitted && f.drugcompany.errors" class="invalid-feedback">
        <div style="color: red;" *ngIf="f.drugcompany.errors.required">Company Name is required</div>
    </div>
      <i class="fa fa-user"></i>

      <br><br>
      <span style="color:red;">{{failedLoginText}}</span>
      <button [disabled]="loading" style="background-color: rgb(41, 62, 186);">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <span class="state">Save</span>
      </button>
     
    </form>
  </div>    
