<app-navbar></app-navbar>

<div id="demo">
    <h1>Order History</h1>
    <h2>This page list all orders place by current user</h2>
    
    <!-- Responsive table starts here -->
    <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
    
      <div class="table-responsive-vertical"
      *ngIf="(orderHistory$ | async) as orderHistory">
  
      <!-- Table -->
      <table>
        <tbody>
          <tr>
            <td data-title="Code">Drugcode</td>
            <td data-title="Price">Price</td>
            <td data-title="Stocks">Stocks</td>
            <td data-title="OrderDate">OrderDate</td>
            <td data-title="OrderTime">OrderTime</td>
            <td data-title="Img">Imgage</td>
          </tr>
          <tr *ngFor="let order of orderHistory">
            <td data-title="Code">{{order.drugcode}}</td>
            <td data-title="Price">{{order.price}}</td>
            <td data-title="Stocks">{{order.stocks}}</td>
            <td data-title="OrderDate">{{order.orderdate}}</td>
            <td data-title="OrderTime">{{order.orderTime}}</td>
            <td data-title="Img"><img src="{{order.img}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
